<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      </style>
  <body>
    <div class="modal">
      <div class="overlay-fixed">
        this is the thing that will fit the page viewport
      </div>
      <div class="lef-side">

      </div>
      <div class="right-side">
          <form action="local" method="POST" class="login">
            <div class="email">
              <input type="email" placeholder="example@server.domain" name="emal" id="eimal">
            </div>
            <div class="psw">
              <input type="password" name="password" id="password" placeholder="">
            </div>
          </form>
      </div>
    </div>
  </body>
</html>
